
{% extends "layout.html" %}
{% block body %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>keyword</th>
        <th>url</th>
        <th>bz_rank</th>
        <th>pl_rank</th>
    </tr>
    </thead>
    <tbody>
    {% for info in result %}
    <tr>
        <td>{{ info.keyword }}</td>
        <td>{{ info.url }}</td>
        <td>{{ info.bz_rank }}</td>
        <td>{{ info.pl_rank }}</td>
    </tr>
    {% endfor %}
    </tbody>

</table>
{% endblock %}
{% block js %}

{% endblock %}

