
{% extends "layout.html" %}
{% block body %}


<div id="file" class="tab-pane fade">
    <h1>Upload Word by File</h1>
    <h2>csv is allowed</h2>
    <form id="file" class="form-inline" method="POST" enctype="multipart/form-data" name="file" action="/rank_finder">
        <div class="form-group">
            <input type="file" name="file" class="form-control"><button id="upload" type="submit" class="btn btn-default">upload</button>
        </div>
    </form>
</div>

{% endblock %}
{% block js %}

{% endblock %}

